<div class="h-screen flex flex-col md:flex-row">
    <div class="h-full w-4/12 flex flex-col items-start justify-center">
        <div class="max-w-xl">
            <h1 class="title !text-7xl text-black">Minimize your <br> <span class="text-green-400">food waste</span> <br> with Foowa.</h1>
            <span class="subtitle text-xl text-black block mt-5">Foowa helps you minimize food waste through a simple yet effective food waste management app.</span>

            <a href="#" class="block max-w-max mt-5 bg-green-400 subtitle px-10 py-3 rounded-md">Get Started</a>
        </div>
    </div>
    <div class="relative h-full w-8/12 flex items-center justify-center">
        <div class="bg-green-400 rounded-full w-full h-full absolute -top-[100px] -right-[400px] z-0"></div>
    </div>
</div>

<div>
    <div class="relative">
        <h2 class="title ml-10">How it works?</h2>
        <div class="absolute left-0 top-[5px] h-8 w-8 bg-green-300 rounded-full title !text-2xl flex items-center justify-center">1</div>
    </div>
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/3 flex flex-col items-center justify-center">
            <div class="w-40 h-40 bg-gray-200 rounded-full flex items-center justify-center">
                <img src="assets/images/food.svg" alt="food" class="w-20 h-20">
            </div>
            <h3 class="title text-center mt-5">Add food</h3>
            <span class="subtitle text-center mt-2">Add food items to your inventory.</span>
        </div>
        <div class="w-full md:w-1/3 flex flex-col items-center justify-center">
            <div class="w-40 h-40 bg-gray-200 rounded-full flex items-center justify-center">
                <img src="assets/images/food.svg" alt="food" class="w-20 h-20">
            </div>
            <h3 class="title text-center mt-5">Invite your friends</h3>
            <span class="subtitle text-center mt-2">Share your inventory to your friends.</span>
        </div>
        <div class="w-full md:w-1/3 flex flex-col items-center justify-center">
            <div class="w-40 h-40 bg-gray-200 rounded-full flex items-center justify-center">
                <img src="assets/images/food.svg" alt="food" class="w-20 h-20">
            </div>
            <h3 class="title text-center mt-5">Switch foods with your contacts</h3>
            <span class="subtitle text-center mt-2">Add food items to your inventory.</span>
        </div>
</div>