@use '@angular/material' as mat;

@include mat.core();

// Creating a palette
$foowa-palette: (
  50: #E8F5E9,
  100: #C8E6C9,
  200: #A5D6A7,
  300: #81C784,
  400: #66BB6A,
  500: #4CAF50,
  600: #43A047,
  700: #388E3C,
  800: #2E7D32,
  900: #1B5E20,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

// Prepare theming
$foowa-primary: mat.define-palette($foowa-palette, 500);
$foowa-accent: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);

// Create a new theme
$foowa-theme: mat.define-light-theme((
  color: (
    primary: $foowa-primary,
    accent: $foowa-accent,
  )
));

// Emit theme-dependent styles
@include mat.all-component-themes($foowa-theme);

// Add sizes for icons
@mixin iconSize($size){
  &[size="#{$size}"] {
    width: 24px * $size;
    height: 24px * $size;

    svg {
      transform: scale($size);
      transform-origin: left top;
    }
  }
}
mat-icon {
  @include iconSize(0.5);
  @include iconSize(0.75);
  @include iconSize(0.9);
  @include iconSize(1.25);
  @include iconSize(1.5);
  @include iconSize(2);
  @include iconSize(3);
  @include iconSize(4);
  @include iconSize(6);
  @include iconSize(8);
  @include iconSize(10);
}
.button-rounded {
  @apply rounded-full #{!important};
}
