<div class="flex flex-col md:flex-row h-screen">

    <div class="w-4/12 flex items-center justify-center">
        <div class="max-w-max bg-white rounded-md p-10">
            <div class="flex flex-col">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" id="email" name="email" [(ngModel)]="this.form.controls.email" required>
                </mat-form-field>
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" id="password" name="password" [(ngModel)]="this.form.controls.password" required>
                </mat-form-field>

                <button mat-flat-button (click)="login()">Login</button>
            </div>
        </div>
    </div>
    <div class="w-8/12 bg-gradient-to-br from-green-400 to-green-600 flex flex-col items-center justify-center text-white">
        <h1 class="title">Key facts</h1>
        <span>Lorem iipsum sit amet</span>
        <span>Dolor es et al.</span>
    </div>
</div>